.detail{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.alert{
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000;
  text-align: center;
}

.start{
  opacity: 0;

}
.end{
  opacity: 1;
  transition: opacity .5s;
}